* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: white;
  padding: 1em 2em;
  font-size: 1.3em;
}

button:hover {
  cursor: pointer;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-selection {
  margin-bottom: .3rem;
}

.lang-button {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin: .1rem;
}

.main-title {

}

.main-subtitle {
  padding: 0 1em;
  border-top: black solid 1px;
  font-size: 1em;
}

.main-navigation {

}

.nav-list {
  display: flex;
  margin: 3rem;
  list-style-type: "🫪";
  list-style-position: inside;
}

.nav-item {
  margin: .3rem;
}

.nav-item a {
  padding: 1em;
  background-color: #292929;
}

.nav-item a:hover {
  background-color: #444;
}

.nav-item_active {
  background-color: rebeccapurple;
}

.main-content {
  margin: 1rem;
  padding: 1em;
  border: white solid .1em;
  border-radius: 1em;
  
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 1em;
  /*border-top-left-radius: 1em;
  border-top-right-radius: 1em;*/
  font-size: .6em;
}
